<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301740951111-qq9jo1md2sq8keak28a36740gfk6solj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301740951111-qq9jo1md2sq8keak28a36740gfk6solj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>301740951111-8rm7p2djvbiom122oq00v9eug02saum4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSe1nGLh3TU17Scp80nFpfSeHo9JHMLlg</string>
	<key>GCM_SENDER_ID</key>
	<string>301740951111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodi</string>
	<key>PROJECT_ID</key>
	<string>learningapp-4c35b</string>
	<key>STORAGE_BUCKET</key>
	<string>learningapp-4c35b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301740951111:ios:b0ab7830d983a39220d362</string>
</dict>
</plist>